name: test
on:
  pull_request:
  push:
    branches:
    - main
jobs:
  unit-tests:
    uses: vapor/ci/.github/workflows/run-unit-tests.yml@reusable-workflows
    with:
      with_coverage: true
      with_tsan: true
